<section>
  <mat-accordion>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Create a Post
        </mat-panel-title>

      </mat-expansion-panel-header>

  </section>
<mat-form-field>
  <input matInput placeholder="write a post" value="" [ngModel]="title">
  <textarea matInput placeholder="textarea" [ngModel]="content"></textarea>
  </mat-form-field>
<button mat-raised-button color="primary" (click)="createPost()" disabled="!title||!content">{{buttontext}}</button>
    </mat-accordion>
